extends layout
block detailCss
  style.
      footer{ text-align: center; color: #b6b6b6; padding-top: 1px; height: 120px;  width: 100%; background: #2b2d2e; } 
      footer a,.footer span{ display: inline-block; color: #b6b6b6; }
      footer a{ margin: 0 28px;}
      footer .footer_link{ margin-top: 26px; }  
      footer .footer_link span{padding: 0 28px;  }
      footer  .footer_state{ margin-top: 24px;}
      footer .footer_state span{ margin: 0 18px;}
      header{ width: 100%;   position: fixed; z-index: 6; height: 72px; background: #ffffff; box-shadow: 0 3px 3px #e5e5e5;}
      .head_box{ width: 1150px; height: 72px; background: #ffffff;  margin: 0 auto; }
      .logo_box1{ height: 80px; width: 190px; float: left;    } 
      .logo_box{ display: block; width: 190px; padding-top:  4px; padding-left: 13px;  float: left; height: 70px; width: 170px; position: relative; left: 0; top: 0;}
      .mainLink{ width: 190px; height: 72px; padding: 34px 0 14px 0; }
      .a_box{ float: left;  width: 68px; height: 30px; margin-right: 6px; margin-left: 20px; position: relative; } 
      .mainLink .a{ display: inline-block; font-size: 14px;  line-height: 24px; padding-left: 30px;   background: url(../assets/terms.png) no-repeat;}
      .mainLink .index_link{ background-position: 0 0; }
      .mainLink .index_link:hover{  font-size: 18px; color: #1d1d1d; font-weight: bold;}
      .mainLink .bbs_link{ background-position: 0 -62px;  }
      .mainLink .bbs_link:hover{font-size: 18px; color: #1d1d1d; font-weight: bold; }
      .serach{ padding-left: 20px; position: relative; height: 82px; width: 435px;  } 
      .moore{ width: 130px; }
      .moore .imoore{ width: 90px; height: 30px; line-height: 30px; background: url(../assets/SmallIcon.png) no-repeat 0 -355px; margin-top: 28px; padding-left: 36px; font-size: 12px; font-weight: bold; }
      .serach .serach-text{  position: absolute; top: 23px; padding-left: 10px;  width: 380px; height: 40px; line-height: 40px; border: 1px solid #7b7b7b;  border-radius: 2px;font-size: 12px; }
      .serach .serach_btn{  position: absolute; top: 25px; right: 40px; width: 40px; height: 35px;  background: url(../assets/terms.png) no-repeat 0 -129px; border: none;  }
      .mainFun{ float: right; padding-top: 32px; padding-bottom: 16px; color: #494949;}
      .mainFun .a{ display: inline-block; }

      .mainFun .sub{ display: inline-block; height: 26px; padding-left: 32px; background: url(../assets/terms.png) no-repeat 0 -174px; }
      .mainFun .sub:hover{ background-position: 0 -208px; font-size: 18px; font-weight: bold;}
      .mainFun .login{ margin-right: 10px;  padding-left: 29px; }
      .mainFun .login:hover{  background: url(../assets/terms.png) no-repeat 0 -244px; font-size: 16px;}
      .mainFun .register:hover{ font-size: 16px; } 
      .b_box{ float: left;  }
      .c_box{ float: left;  margin-left: 10px; width: 80px;}
      .d_box{ float: left; width: 50px; }
      .mainFun .register{ margin-left: 10px;  }
      .sigin_mainFun { float: right; width: 200px; height: 72px;}
      .sigin_mainFun .sub{ display: inline-block; height: 26px; width: 68px; line-height: 26px; padding-left: 32px; margin-left: 50px;  background: url(../assets/terms.png) no-repeat 0 -174px; margin-top: 29px; }
      .sigin_mainFun .sub:hover{ font-size: 18px; color: #1d1d1d;}
      .headPortrait_box{  line-height: 50px; height: 50px; padding: 14px 5px 14px 22px; position: relative;}
      .headPortrait_box a{ display: inline-block; }
      .headPortrait_box .router-link-active{ display: inline-block; }
      .headPortrait_box img{ width: 50px; height: 50px; border-radius: 50%; } 
      .headPortrait_box .name{ margin-left: 12px;}
      .sigin_mainFun .exit{  position: absolute; left: 58px; top: 50px; width: 86px; height: 36px; background: #fff; text-align: center; line-height: 36px; box-shadow: 0 0 5px #eaeaea; }
      .sigin_mainFun .exit:hover{ background: #3396f2; color: #fff }
      .rectangle{ position: absolute; width:  80px; height: 2px;  background: #2756b3; left: -10px; bottom: -8px; }
block body
  block header
    header.clear
      .head_box.clear
        .logo_box1
          a.logo_box(href="/"): img(src="nlogo.png", alt="logo") 
        .mainLink.fl.clear
          .a_box
            a.index_link(href="/")首页
            .rectangle
          .a_box
            .refresh
              a(href="/bbs").bbs_link 论坛
            .rectangle
        .serach.fl
          input.serach-text(type="text",placeholder="请输入要查找内容")    
          button.serach_btn
        .moore.fl
          .imoore 摩尔
        .mainFun.clear
          .c_box
            a.login(href="/login") 登入
          .d_box
            a.login(href="/login") 注册

  block content
  block footer
    footer
      p.footer_link
        a(href="/") 关于我们
        a(href="/") 联系我们
        a(href="http://www.all4lib.com") 2017-2025 all4lib.com
        span 苏ICP备17018907号-1
        span ©思享国
