extends layout

block content
  .login_box
    .logo_box.clear
      .img_box
        a(href="/")
          img(src="/logo.png", alt="思想家")
      h1 思想家
    .login_background  
      .login_body
        .tab_box
          .tab.clear
            a.active.super(href="/"): li 登入
            a.superA(href="/"): li 注册


